/* Reset some default styles */
body, h1, h2, p, ul, ol, li, form {
    margin: 0;
    padding: 0;
}

/* Overall page styling */
body {
    font-family: 'Inter', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    font-size: 28px;
    border-bottom: solid 1px #d1d1d1;
    color: #fff;
}

nav {
    height: 100%;
}

/* Navigation menu styling */
.menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu li {
    display: block;
    margin-right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li:hover {
    border-bottom: solid 3px #585858;
}

.menu a {
    text-decoration: none;
    color: #5f6368;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Main content styling */
.main-content {
    padding: 20px;
    display: flex;
    background-color: #f0f0f0;
}

.about-content {
    padding: 20px;
}

.about-club {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #202124;
    padding-right: 20px;
}

.about-title {
    font-weight: 400;
    font-size: 36px;
    color: #1967D2;
    padding-bottom: 20px;
}

.learn-more {
    background-color: #1A73E8;
    border-radius: 5px;
    margin-top: 10px;
    width: fit-content;
    text-decoration: none;
}

.learn-more:hover {
    background-color: #0d55b3;
}

.extra-info {
    display: flex;
    padding: 30px 20px 0 20px;
    background-color: white;
}

.extra-title {
    color: #202124;
    font-size: 18px;
    padding-bottom: 10px;
}

.extra-description {
    color: #676C72;
    font-size: 16px;
    padding-right: 10px;
}

.guideline {
    margin: 50px 0;
    background-color: #4285f4;
    color: white;
    text-align: center;
    padding: 40px 20%;
}

.guideline-title {
    font-size: 28px;
}

.guideline-description {
    padding: 20px 0;
}

.guideline-link {
    display: flex;
    justify-content: center;
    /* width: 100%; */
}

.link-group {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-btn {
    background-color: white;
    color: #4285f4;
    border-radius: 5px;
    font-weight: 600;
}

.contact-content {
    background-color: #f0f0f0;
    display: flex;
    padding: 5% 10%;
}

.contact-info {
    margin-top: 20px;
    color: #777;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    width: 50%;
    color: #777;
}

.contact-form input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form .learn-more {
    margin-top: 20px;
}

h1{
    margin: 0;
    font-size: 28px; /* Adjust font size as needed */
    color: #5f6368; /* Text color */
    font-weight: 400;
}
h2 {
    color: #90b5fb;
}

p {
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Form styling */
form {
    margin-top: 20px;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    width: fit-content;
}

button {
    background-color: #90b5fb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* Updated CSS for the image slideshow */
.slideshow-container {
    position: relative;
    width: 50%;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Additional styles for the rest of the page */
/* ... */
